<nav>
	<ul class="snip1226">
		<li>
			<a href="http://localhost/example/index.php?route=common/home" data-hover="Data">Data</a>
		</li>
		<li>
			<a href="http://localhost/example/index.php?route=operation/create" data-hover="CreateTable">CreateTable</a>
		</li>
		<li>
			<a href="http://localhost/example/index.php?route=operation/droptable" data-hover="DropTable">DropTable</a>
		</li>
		<li>
			<a href="http://localhost/example/index.php?route=operation/insert" data-hover="Insert">Insert</a>
		</li>
		<li>
			<a href="#" data-hover="Delete">Delete</a>
		</li>
		<li>
			<a href="#" data-hover="Update">Update</a>
		</li>
	</ul>
</nav>
